<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Préstamos</title>
</head>
<body>
<h2>Lista de Préstamos</h2>

<!-- Botón para ir al registro de prestamos -->
<form th:action="@{/inicio/prestamos/registro}" method="get">
    <button type="submit">Crear un prestamo</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Monto</th>
        <th>restante</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prestamo : ${prestamos}">
        <td th:text="${prestamo.id}"></td>
        <td th:text="${prestamo.monto}"></td>
        <td th:text="${prestamo.restante}"></td>
        <td th:text="${prestamo.fechaPrestamo}"></td>
        <td th:text="${prestamo.clienteNombres} + ' ' + ${prestamo.clienteApellidos} + ' (DNI: ' + ${prestamo.clienteDni} + ')'"></td>
        <td>
            <form th:action="@{/inicio/abonos/{id}(id=${prestamo.id})}" method="get">
                <button type="submit">ver abonos</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<!-- Botón para descargar reporte de prestamos -->
<a href="/inicio/prestamos/reporte" target="_blank">
    <button>Descargar PDF</button>
</a>


<!-- Botón para ir al inicio -->
<form th:action="@{/inicio/home}" method="get">
    <button type="submit">Ir al inicio</button>
</form>

</body>
</html>
