<!DOCTYPE html>
<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-white" href="#">Navegación</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <!-- Home -->
          <li class="nav-item">
            <form th:action="@{/inicio/home}" method="get" class="d-inline">
              <button class="nav-link btn btn-link text-white" type="submit">Inicio</button>
            </form>
          </li>

          <!-- Clientes -->
          <li class="nav-item">
            <form th:action="@{/inicio/clientes}" method="get" class="d-inline">
              <button class="nav-link btn btn-link text-white" type="submit">Clientes</button>
            </form>
          </li>

          <!-- Prestamos -->
          <li class="nav-item">
            <form th:action="@{/inicio/prestamos}" method="get" class="d-inline">
              <button class="nav-link btn btn-link text-white" type="submit">Préstamos</button>
            </form>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reportes
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/inicio/prestamos/reporte" target="_blank" class="dropdown-item">Descargar PDF</a>
              </li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
        </ul>

        <!-- Botón de Cerrar Sesión -->
        <form th:action="@{/inicio/logout}" method="post" class="d-flex">
          <button class="btn btn-outline-light" type="submit">Cerrar sesión</button>
        </form>
      </div>
    </div>
  </nav>
</div>
